<html class="no-js" lang="en-US">
<head>
    {%include head.html %}
</head> 
<body class="vc_responsive sticky_header ">
    <!-- •••••••••••• main-wrapper •••••••••••• -->
    <div class="overflow_wrapper">
        <div class="header ">
            <!-- •••••••••••• top-bar •••••••••••• -->
            <div class="topbar vcenter transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 hidden-xs hidden-sm text-left">
                            <div class="top_menu_container">
                                <ul id="menu-top-bar" class="top_menu hover_menu">
                                    <li class="menu-item">
                                        <a style="font-size:13px;font-family:sans-serif;font-weight:500;text-transform:none;" href="http://bit.ly/28KDoBT"><i class="fa fa-map cm-telephone"></i> R . Marcondes Salgado, 74 - São José dos Campos - SP, 12243-820</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 hidden-xs hidden-sm text-right">
                            <i style="font-size:19px;"  class="fa cm-telephone fa-phone"></i> <strong style="font-size:17px;font-family:sans-serif;">(12) 3923-4146 / 3923-4166</strong> </div>

                        </div>
                    </div>
                </div> <!-- •••••••••••• END top-bar •••••••••••• -->
                <div class="mainbar  color">
                    <div class="container">
                        <div class="logo">
                            <a href="index.html" class="brand">
                                <img src='{{ "dist/images/theme/healthflex_logo_color.png" | prepend: site.baseurl }}' alt="HealthFlex">
                            </a>
                        </div>
                        <!-- •••••••••••• social-icons •••••••••••• -->
                       <!--  <a title="" href="index.html#" class="social_links"><i class="fa fa-share-alt"></i></a>
                        <div class="team_social">
                            <a href="https://www.facebook.com/drurologista/" target="_blank" title="Facebook"><i class="fa fa fa-facebook"></i></a><a href="index.html#" title="Google+"><i class="fa fa fa-google-plus"></i></a>
                            <a
                            href="index.html#" title="LinkedIn"><i class="fa fa fa-linkedin"></i></a><a href="index.html#" title="Skype"><i class="fa fa fa-skype"></i></a>
                            <a
                            href="index.html#" title="Send Us An Email"><i class="fa fa fa-envelope"></i></a>
                        </div> --><!-- •••••••••••• END social-icons •••••••••••• -->

                        <!-- •••••••••••• menu •••••••••••• -->
                        <div class="menu_container"><span class="close_menu">&times;</span>
                            <ul id="menu-primary-menu" class="main_menu hover_menu">
                                <li class="menu-item"><a href="/"> home </a></li>
                                <li class="menu-item"><a href='{{ "sobre" | prepend: site.baseurl }}'>Sobre</a> </li>
                                <li class="menu-item"><a href='{{ "doencas-relacionadas" | prepend: site.baseurl }}'>Doenças relacionadas</a></li>
                                <li class="menu-item"><a href='{{ "contato" | prepend: site.baseurl }}'>informações &#38; contato</a></li>

                            </ul>
                        </div><!-- •••••••••••• END menu •••••••••••• -->

                        <label class="mobile_collapser">MENU</label><!-- •••••••••••• menu-mobile title •••••••••••• -->

                    </div>
                </div>

            </div>

            <div class="brand-colors"> </div>
