---
layout: default
type: post
---


<section class="padding_top_half">
    <div class="row post-wrapper">
        <div class="container">
            <div class="col-md-6 col-md-offset-2 col-sm-12">
                <div class="fb-share-button" data-href="https://drurologista.com.br/" data-layout="button" data-size="large" data-mobile-iframe="true">
                    <a class="fb-xfbml-parse-ignore" target="_blank" href="{{page.url | prepend: 'http://www.drurologista.com.br'}}">Comartilhar</a>    
                </div>
            </div>
            <div style="margin-top: 20px;margin-bottom:60px;" class="col-md-8 col-md-offset-2">
            {{content}}
            </div>
            <div class="post-footer col-md-6 col-md-offset-2 col-sm-12">
                <p>Curta no facebook: </p>
                <div class="fb-like" data-href="https://facebook.com/drurologista/" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                <a style="display:block; margin:10px 0;" href="{{ 'doencas-relacionadas' | prepend: site.baseurl }}"><< Voltar</a>
            </div>
        </div>
    </div>
</section>



<style media="screen">
    h1 {
        font-weight: 900;
        margin: -3px 0 13px 0;
        font-size: 33px;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    h1, h2, h3 {
        text-transform: none;
        font-weight: 700;
    }

    img {
        max-width:350px;
    }

    h2 {
        font-size: 25px;
    }

</style>
