---
layout: default
---


<section class="padding_top_half">
    <div class="row post-wrapper">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                
            {{content}}
            </div>
        </div>
    </div>
</section>



<style media="screen">
    h1 {
        font-weight: 900;
        margin: -3px 0 13px 0;
        font-size: 33px;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    h1, h2, h3 {
        text-transform: none;
        font-weight: 700;
    }

    img {
        max-width:350px;
    }

    h2 {
        font-size: 25px;
    }

</style>
